/* Color Palette */
/* DARK color: #393646 */
/* MED_DARK color: #4F4557 */
/* MED_LIGHT color: #6D5D6E */
/* LIGHT color: white */

.canvasView {
    -fx-background-color: black;
}

.title-section {
    -fx-background-color: #393646;
    -fx-padding: 20px;
}

.title {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.main-menu {
    -fx-background-color: #6D5D6E;
    -fx-padding: 15px 25px 15px 25px;  /* Top, right, bottom, left */
}

.menu-bar-in-main-menu {
    -fx-background-color: #6D5D6E;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.menu-bar-in-main-menu .menu {
    -fx-background-color: #6D5D6E;
    -fx-text-fill: white;
}

.menu-bar-in-main-menu .menu .label {
    -fx-text-fill: white;
}

.menu-bar-in-main-menu .menu-item {
    -fx-background-color: #6D5D6E;
    -fx-cursor: hand;
}

.menu-bar-in-main-menu .menu-item .label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #4F4557;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-width: 3px;
    -fx-border-radius: 8px;
    -fx-border-color: #393646;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #393646;
}

. input-and-canvas-box {
    -fx-background-color: white;
}

. scroll-pane-values { /* Whole scroll pane */
    -fx-background-color: #4F4557;

}
.scroll-pane-values .scroll-bar:horizontal, /* horizontal and vertical scroll bars */
.scroll-pane-values .scroll-bar:vertical {
    -fx-background-color: #393646;
}

.scroll-pane-values .scroll-bar:horizontal .thumb, /* horizontal and vertical scroll thumbs */
.scroll-pane-values .scroll-bar:vertical .thumb {
    -fx-background-color: #393646;
}

.scroll-pane-values .scroll-bar:horizontal .track, /* horizontal and vertical scroll track */
.scroll-pane-values .scroll-bar:vertical .track {
    -fx-background-color: #4F4557;
}

.values-container { /* container with values for fractal */
    -fx-background-color: #4F4557;
    -fx-padding: 25px 100px 50px 35px;  /* Top, right, bottom, left */
}

.values-container .label { /* label for container with values for fractal */
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.values-container .text-field { /* text field for container with values for fractal */
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-pref-width: 90px;
}

.lowest-input-container-button { /* button at the bottom in field for container with values for fractal */
    -fx-background-color: #6D5D6E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-width: 3px;
    -fx-border-radius: 8px;
    -fx-border-color: #393646;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
}







